.button {
  padding: 28px var(--g-margin50);
  font-size: var(--g-font-size21);
  font-family: var(--g-font-family-Oranienbaum);
  text-transform: uppercase;
  font-weight: 200;
  color: var(--g-colorF);
  border: none;
  background-color: var(--g-background-brand);
  cursor: pointer;
}
