<div class="card-wrapper">
  <div class="header">
    <p class="text">название выставки</p>
  </div>
  <div class="description-block">
    <img src="../../../assets/v2.jpg" alt="" class="image" />
    <div class="description-content">
      <p class="title">
        Примерное, краткое описание художественной выставки. Текст сайта
        является редактируемым через СУ сайтом
      </p>
      <p class="date">22 апреля 2024</p>
      <button class="btn btn-visit">Посетить выставку</button>
    </div>
  </div>
</div>
