.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid var(--g-colorF);
  width: 100%;
  padding: 100px var(--g-padding50) 100px var(--g-padding50);
  line-height: normal;

  & .footer-contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 200px 0 100px;

    & .footer-contact-title {
      font-family: var(--g-font-family-Oranienbaum);
      font-size: 124px;
    }

    & .footer-contact {
      display: flex;
      gap: 25px;

      .contact-item {
        white-space: nowrap;
        text-decoration: none;
      }

      .container {
        display: flex;
        align-items: center;
        column-gap: calc(var(--g-gap8) * 2);

        p {
          font-size: var(--g-font-size21);
          text-decoration: none;
          color: var(--g-colorF);
        }
      }

      .circle-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--g-background-brand2);

        svg {
          width: 24px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          filter: brightness(0) invert(1); /* делает иконки белыми */
        }
      }
    }
  }
}

@media (max-width: 765px) {
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid var(--g-colorF);
    width: 100%;
    padding: var(--g-padding40) var(--g-padding20);

    & .footer-contact-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: unset;
      margin: 0 0 var(--g-margin40) 0;

      & .footer-contact-title {
        margin: 0 auto;
        font-size: 40px;
      }

      & .footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 25px;
        margin-top: var(--g-margin20);

        & .phone-container {
          display: flex;
          align-items: center;
          column-gap: calc(var(--g-gap8) * 2);

          & .phone-icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--g-background-brand2);
          }

          & > p {
            font-family: var(--g-font-family-Oranienbaum);
            font-size: var(--g-font-size21);
          }
        }

        & .city-container {
          display: flex;
          align-items: center;
          column-gap: calc(var(--g-gap8) * 2);

          & .city-icon {
            display: none;
          }

          & > p {
            font-size: var(--g-font-size17);
          }
        }

        & .email-container {
          display: flex;
          align-items: center;
          column-gap: calc(var(--g-gap8) * 2);

          & .email-icon {
            display: none;
          }

          & > p {
            font-size: var(--g-font-size21);
          }
        }
      }
    }
  }
}

@media (min-width: 766px) and (max-width: 990px) {
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid var(--g-colorF);
    width: 100%;
    padding: var(--g-padding40) var(--g-padding20);

    & .footer-contact-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: unset;
      margin: 0 0 var(--g-margin40) 0;

      & .footer-contact-title {
        margin: 0 auto;
        font-size: 80px;
      }

      & .footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 25px;
        margin-top: var(--g-margin20);

        & .phone-container {
          display: flex;
          align-items: center;
          column-gap: calc(var(--g-gap8) * 2);

          & .phone-icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--g-background-brand2);
          }

          & > p {
            font-family: var(--g-font-family-Oranienbaum);
            font-size: var(--g-font-size21);
          }
        }

        & .city-container {
          display: flex;
          align-items: center;
          column-gap: calc(var(--g-gap8) * 2);

          & .city-icon {
            display: none;
          }

          & > p {
            font-size: var(--g-font-size17);
          }
        }

        & .email-container {
          display: flex;
          align-items: center;
          column-gap: calc(var(--g-gap8) * 2);

          & .email-icon {
            display: none;
          }

          & > p {
            font-size: var(--g-font-size21);
          }
        }
      }
    }
  }
}
