<div class="main-section-wrapper">
  <div class="social-wrapper">
    <div class="social">VK</div>
    <div class="social">IN</div>
    <div class="social">TUB</div>
    <div class="social">TVI</div>
    <div class="social">RUT</div>
  </div>
  <div class="text-wrapper">
    <div class="text-block">
      <div class="text-title-block">
        <p class="text-title">Художественная</p>
      </div>
      <p class="text-name">Галерея</p>
      <div class="text-description-block">
        <p class="text-description">
          - В нашей галерее разрешено вести фото и видео съемку
        </p>
        <p class="text-description">
          - Вторник - "День открытых дверей", вход бесплатный
        </p>
      </div>
    </div>
    <div class="btn-wrapper">
      <button class="btn btn-visit">Посетить выставку</button>
      <button class="btn btn-about">Подробнее о галерее</button>
    </div>
  </div>
</div>
