<section class="wrapper-gallery-section">
  <div class="bread-crumbs">
    <a [href]="path.ROOT" >Главная</a> / <a [href]="path.GALLERY" >Галерея</a>
  </div>
  <div class="gallery-wrapper">
  <div class="gallery-title-wrapper">
    <h1 class="gallery-title">Галерея</h1>
  </div>
    <div class="gallery-container">
      @for (image of images; track $index; let i = $index) {
      <div class="image-list">
        <div class="image-container" (click)="openModal(i)">
          <img [src]="image.img" alt="images" class="image" loading="lazy"/>
        </div>
      </div>
      }
    </div>
  </div>

    <!-- Модальное окно -->
    @if (isModalOpen()) {
      <app-modal [images]="images" [currentImageIndex]="currentImageIndex()" (close)="closeModal()" />
    }
</section>
