<div class="about-section-wrapper">
  <div class="about-section-block">
    <div class="about-left-block">
      <img class="left-img" src="../../../assets/img1.jpg" alt="left-img-1" />
      <img class="left-img" src="../../../assets/img2.jpg" alt="left-img-2" />
    </div>
    <div class="about-right-wrapper">
      <div class="about-right-block">
        <div class="title-block">
          <p class="header">ОТКРОЙ ДЛЯ СЕБЯ МИР ИСКУССТВА</p>
          <p class="title">Мы ждем Вас!</p>
        </div>
        <div class="description-block">
          <p class="description">
            Художественная галерея находится в центральной части города, рядом с
            набережной реки. Это учреждение, открывшееся в 1988 году, является
            одним из самых модернизированных и активноразвивающихся музеев
            страны. Само помещение ‒ просторное и светлое, а архитектура здания
            достойна особого внимания, как арт-объект. В целом, галерея состоит
            из 8 экспозиционных залов, в которых ежегодно проходит до 50
            художественных выставок. Основное собрание представлено работами
            отечественных и зарубежных мастеров второй половины ХХ века,
            выполненных в различных стилях.
          </p>
        </div>
        <div class="widget-bock">
          <div class="widget-item">
            <img src="../../../assets/phot.svg" alt="phot" />
            <p>В нашей галерее разрешено вести фото и видео съемку</p>
          </div>
          <div class="widget-item">
            <img src="../../../assets/cup.svg" alt="cup" />
            <p>В холле галереи имеется буфет с аппетитной выпечкой</p>
          </div>
          <div class="widget-item">
            <img src="../../../assets/entry.svg" alt="entry" />
            <p>Каждый вторник - "День открытых дверей"</p>
          </div>
          <div class="widget-item">
            <img src="../../../assets/pic.svg" alt="pic" />
            <p>Большое разнообразие произведений искусств</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
