<div class="sidebar" [ngClass]="{ active: isOpen }">
  <button
    class="close-btn"
    [ngClass]="{ active: !isOpen }"
    (click)="toggleSidebar()"
  >
    ×
  </button>
  <div class="menu-list">
    <ul>
      @for (item of PATH_LIST; track item.path; let i = $index) {
        <li>
          <a [href]='item.path'>{{item.name}}</a>
        </li>
      }
    </ul>
  </div>
</div>

<button class="toggle-btn" (click)="toggleSidebar()">
  <div class="line-wrapper">
    <div class="line-wrapper__line"></div>
    <div class="line-wrapper__line"></div>
    <div class="line-wrapper__line"></div>
  </div>
</button>
